@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

:root {
    --background: #1C1E26;
    --syn: #AA455F;
    --name: #11D8A8;
    --value: #E4A88A;
    --prompt: #A96ECA;
}

::-moz-selection {
    color: white;
    background: var(--name);
}

::selection {
    color: white;
    background: var(--name);
}

html,
body {
    font-family: 'Fira Code', monospace;
    background: var(--background);
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.container {
    width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
}

.prompt {
    color: white;
    background: var(--prompt);
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 50px;
}

.prompt-text {
    color: var(--prompt);
}

.syn {
    color: var(--syn);
}

.name {
    color: var(--name);
}

.value {
    color: var(--value);
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
}

a:hover:after {
    color: #A96ECA;
    content: "<-";
}

form {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input[type="search"] {
    background: transparent;
    padding: 10px 20px;
    color: var(--name);
    font-weight: 500;
    font-family: 'Fira Code', monospace;
    display: inline-block;
    border: none;
    font-size: 1.1em;
    box-sizing: border-box;
}

input[type="search"]:hover,
input[type="search"]:active,
input[type="search"]:focus {
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 0.9em;
    font-family: 'Fira Code', monospace;
}



@media screen and (max-width: 1500px) {
    body {
        font-size: 1em;
    }

    .container {
        padding: 25px 50px;
    }
}